extends layout

block content
    h1 #{title}: #{city.country}

    p #[strong Country:] #{city.country}
    p #[strong Description:] #{city.description}
    p #[strong reviews:] #{city.reviews}
    p #[strong Recommendad days to stay:] #{city.days}
    p #[strong Min. price:] #{city.price} euro
    