extends layout

block content
    h1 #{title}

    p #[strong Capital:] #{country.capital}
    p #[strong Description:] #{country.description}
    p #[strong reviews:] #{country.reviews}
    p #[strong Recommendad days to stay:] #{country.days}
    p #[strong Min. price:] #{country.price} euro
